<div class="jumbotron text-center">
    <h1>About Fujigram</h1>
    <div class="container">
  <div class="row">
    <div class="col-sm-6 ">
      <h3>Mt.fuji</h3>
      <p>Mt. Fuji is the highest mountain in Japan, and its altitude is about 3776 meters.Mt. It was registered as a World Heritage Site at the World Heritage Committee held in Cambodia in June 2013.</p>
    </div>
    <div class="col-sm-6">
      <h3>About this site</h3>
      <p>This site will be a site where everyone can share the beautiful scenery of Mt. Fuji. Let's share it and spread the goodness of Mt.Fuji!</p>
    </div>
  </div>
</div>
